.ButtonWrapper {
  display: flex;
  padding: 30px 0px;
  border-top: 1px solid rgb(229, 232, 235);
  width: 100%;
  justify-content: center;
}
.switchWallet {
  padding: 30px 40px;
  border-right: 1px solid rgb(229, 232, 235);
}
.switchWallet i {
  margin-right: 10px;
  font-size: 18px;
}
.switchWallet button {
  border: none;
  background-color: rgb(241, 241, 241);
  font-family: 'Poppins', sans-serif;
}
.disconnect {
  padding: 30px 40px;
}
.disconnect i {
  margin-right: 10px;
  font-size: 18px;
  color: orangered;
}
.disconnect button {
  border: none;
  background-color: rgb(241, 241, 241);
  font-family: 'Poppins', sans-serif;
  color: orangered;
}
