.container_productDetails {
  padding-top: 1px;
  background-color: #f8f8f8;

  padding: 0px 90px 30px 90px;
  /* padding: 0px 0px 60px; */
  padding-bottom: 0px;
  background-color: #fff;
}
.grid__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
}
.grid__column5 {
  width: 50%;
  padding: 60px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}
.grid__column52 {
  width: 50%;
  padding: 60px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}
.col7 {
  width: 58%;
  display: flex;
  flex-direction: column;
  padding: 0px 60px;
}
.col3 {
  width: 30%;
  padding: 0px 60px;
}
.grid_border {
  border-right: 1px solid rgb(241, 241, 241);
}
.back_btn {
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 999;
}
.btn_back {
  padding: 0px 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  appearance: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  height: 30px;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(241, 241, 241);
  color: rgb(119, 121, 140);
}
.product_img {
  /* margin-top: -110px; */
  display: block;
  width: 70%;
  height: auto;
  margin-top: 20px;
  transition: 1s;
}
.product_img:hover {
  transform: scale(1.1);
}
.grid_infor {
  align-items: start;
}
.infor {
  width: 100%;
}

.ProductDescription {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(66, 69, 97);
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ProductDescription p {
  /* text-align: center; */
  margin-bottom: 30px;
  width: 90%;
}
.ProductDescription h2 {
  /* text-align: center; */
  margin-bottom: 30px;
  width: 90%;
  font-size: 1.5rem;
}
.ProductDescription h3 {
  margin-bottom: 30px;
}
.ProductDescription img {
  /* width: 50%;
  height: 50%; */

  /* height: 100%; */
  max-width: 700px;
  max-height: 500px;
}
.ProductBand i {
  margin-right: 10px;
  font-size: 22px;
}
.ProductTable {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.ProductTableRow {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.ProductItem {
  width: 200px;
  flex-shrink: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(66, 69, 97);
}

.btn_cart {
  margin-top: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid rgb(241, 241, 241);
  background-color: #fff;
  font-weight: 600;
  color: rgb(0, 158, 127);
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 17px;
  padding: 0px 20px;
  line-height: 32px;
  height: 36px;
}

.home__productprice i {
  margin-right: 5px;
  font-size: 13px;
}

.ProductListRelated {
  background-color: rgb(247, 247, 247);
  width: 100%;
}
.ProductItemRelated {
  height: 100%;
}
.ProductItemWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.back_btn i {
  margin-right: 5px;
}
.ProductItemRelated {
  height: 100%;
  display: flex;
}
.ProductItemWrapper {
  height: 100%;
  width: 100%;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
  cursor: pointer;
}
.RelatedWapper {
  padding-bottom: 30px;
}

.sweetLoading {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: #fff;
}
.headerProductDescription {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}
.inforHeader {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  padding: 10px 10px 10px 20px;
}
.inforItem {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  padding: 12px 16px;
}
.inforName {
  flex: 2 1;
  font-family: 'Poppins', sans-serif;
}
.inforValue {
  flex: 3 1;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.techInfor {
  /* border: 1px solid #333; */
}
/* reponsive */
@media (min-width: 768px) and (max-width: 1350px) {
  .grid__column5 {
    width: 49%;
    margin-right: -5px;
  }
}

@media (max-width: 764px) {
  .grid__column5 {
    width: 100%;
  }
  .ProductTable {
    width: 335px;
  }
  .btn_back {
    margin-left: -45px;
  }
}
.listImg {
  display: flex;
}
.listImgBig {
  /* display: flex; */
}
.imgDetails {
  width: 20%;
  margin-right: 20px;
  margin-top: 20px;
}
@keyframes nav__notifyapp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.imgDetailsBig {
  position: absolute;
  top: 0%;
  right: 146px;
  display: none;
  animation: nav__notifyapp ease-in 0.25s;
  will-change: opacity, transform;
  transform-origin: bottom left;
}
.imgDetails {
  transition: 1s;
}
.imgDetails:hover {
  transform: scale(1.3);
  z-index: 9;
}
.imgDetails:active .imgDetailsBig {
  cursor: pointer;
  display: block;
}
